In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2
import pandas as pd
from surfingcrypto.config import config
from surfingcrypto.portfolio_tracker import Tracker

In [2]:
parent="/Users/giorgiocaizzi/Documents/GitHub/surfingcrypto/"
c=config(parent+"config",parent+"data")

In [3]:
portfolio_df = pd.read_csv('../temp/std_df.csv')
portfolio_df = portfolio_df.rename(
    {
        "datetime":"Open date",
        "type":"Type",
        "symbol":"Symbol",
        "amount":"Qty",
        "spot_price":"Adj cost per share",
        "native_amount":"Adj cost"
    },
    axis=1
)
portfolio_df.drop("trade_id",axis=1,inplace=True)

portfolio_df['Open date'] = pd.to_datetime(portfolio_df['Open date'])
portfolio_df

,Open date,Type,Qty,Symbol,Adj cost,nat_symbol,total,subtotal,total_fee,Adj cost per share
0,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.990,5627.999719
1,2018-11-09 12:05:12+00:00,sell,0.017237,BTC,93.27,EUR,93.27,96.26,2.990,5584.488743
2,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,EUR,93.27,90.28,2.990,0.259409
3,2019-01-25 14:28:56+00:00,sell,348.021666,BAT,35.96,EUR,35.96,37.95,1.990,0.109045
4,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,EUR,500.00,492.66,7.340,1906.364408
...,...,...,...,...,...,...,...,...,...,...
120,2021-09-09 23:30:56+00:00,sell,601.581299,MATIC,699.35,EUR,NaN,NaN,3.450,1.162520
121,2021-11-29 10:44:04+00:00,buy,21.493860,SUSHI,147.19,EUR,NaN,NaN,1.405,6.848002
122,2021-11-29 10:44:05+00:00,sell,107.673534,ADA,150.00,EUR,NaN,NaN,1.405,1.393100
123,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,EUR,NaN,NaN,1.620,182.087335
124,2021-11-29 10:47:18+00:00,sell,128.721927,MATIC,190.09,EUR,NaN,NaN,1.620,1.476749

In [4]:
t=Tracker(portfolio_df,configuration=c)
closedata=t.load_data()
closedata

                          Date        Close symbol
0    2018-10-22 00:00:00+00:00  5658.282386    BTC
1    2018-10-23 00:00:00+00:00  5644.216369    BTC
2    2018-10-24 00:00:00+00:00  5700.391926    BTC
3    2018-10-25 00:00:00+00:00  5692.963031    BTC
4    2018-10-26 00:00:00+00:00  5673.823536    BTC
...                        ...          ...    ...
1386 2021-12-30 00:00:00+00:00   152.570917    SOL
1387 2021-12-31 00:00:00+00:00   149.727281    SOL
1388 2022-01-01 00:00:00+00:00   156.953330    SOL
1389 2022-01-02 00:00:00+00:00   155.090257    SOL
1390 2022-01-03 00:00:00+00:00   150.677914    SOL

[1391 rows x 3 columns]

In [5]:
t.error_log

[{'symbol': 'CGLD',
  'error': FileNotFoundError(2, 'No such file or directory')},
 {'symbol': 'USDC',
  'error': FileNotFoundError(2, 'No such file or directory')}]

In [6]:
benchmark=t.set_benchmark("BTC")
benchmark

                          Date         Close
0    2018-10-22 00:00:00+00:00   5658.282386
1    2018-10-23 00:00:00+00:00   5644.216369
2    2018-10-24 00:00:00+00:00   5700.391926
3    2018-10-25 00:00:00+00:00   5692.963031
4    2018-10-26 00:00:00+00:00   5673.823536
...                        ...           ...
1165 2021-12-30 00:00:00+00:00  41666.918717
1166 2021-12-31 00:00:00+00:00  40712.720044
1167 2022-01-01 00:00:00+00:00  41926.340052
1168 2022-01-02 00:00:00+00:00  41629.800228
1169 2022-01-03 00:00:00+00:00  41105.723762

[1170 rows x 2 columns]

In [7]:
active_portfolio=t.portfolio_start_balance(portfolio_df,t.stocks_start)
active_portfolio

,Open date,Type,Qty,Symbol,Adj cost,nat_symbol,total,subtotal,total_fee,Adj cost per share
0,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.990,5627.999719
1,2018-11-09 12:05:12+00:00,sell,0.017237,BTC,93.27,EUR,93.27,96.26,2.990,5584.488743
2,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,EUR,93.27,90.28,2.990,0.259409
3,2019-01-25 14:28:56+00:00,sell,348.021666,BAT,35.96,EUR,35.96,37.95,1.990,0.109045
4,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,EUR,500.00,492.66,7.340,1906.364408
...,...,...,...,...,...,...,...,...,...,...
120,2021-09-09 23:30:56+00:00,sell,601.581299,MATIC,699.35,EUR,NaN,NaN,3.450,1.162520
121,2021-11-29 10:44:04+00:00,buy,21.493860,SUSHI,147.19,EUR,NaN,NaN,1.405,6.848002
122,2021-11-29 10:44:05+00:00,sell,107.673534,ADA,150.00,EUR,NaN,NaN,1.405,1.393100
123,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,EUR,NaN,NaN,1.620,182.087335
124,2021-11-29 10:47:18+00:00,sell,128.721927,MATIC,190.09,EUR,NaN,NaN,1.620,1.476749

In [8]:
positions_per_day=t.time_fill(portfolio_df)
positions_per_day[-1]

,Open date,Type,Qty,Symbol,Adj cost,nat_symbol,total,subtotal,total_fee,Adj cost per share,Date Snapshot
0,2018-10-22 06:29:22+00:00,buy,0.017237,BTC,100.00,EUR,100.00,97.01,2.990,5627.999719,2022-01-03 00:00:00+00:00
2,2018-11-09 12:06:14+00:00,buy,348.021666,BAT,93.27,EUR,93.27,90.28,2.990,0.259409,2022-01-03 00:00:00+00:00
4,2021-04-20 18:57:40+00:00,buy,0.258429,ETH,500.00,EUR,500.00,492.66,7.340,1906.364408,2022-01-03 00:00:00+00:00
5,2021-04-22 10:13:53+00:00,buy,0.062128,MKR,250.00,EUR,250.00,246.33,3.670,3964.873854,2022-01-03 00:00:00+00:00
7,2021-04-24 08:53:47+00:00,buy,210.343863,ADA,213.69,EUR,213.69,210.55,3.140,1.000980,2022-01-03 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
115,2021-08-26 19:45:55+00:00,buy,1158.834293,MATIC,1360.65,EUR,NaN,NaN,6.580,1.174154,2022-01-03 00:00:00+00:00
117,2021-09-07 10:00:18+00:00,buy,179.747525,ADA,389.49,EUR,NaN,NaN,2.530,2.166873,2022-01-03 00:00:00+00:00
119,2021-09-09 23:30:55+00:00,buy,323.271703,ADA,692.45,EUR,NaN,NaN,3.450,2.142006,2022-01-03 00:00:00+00:00
121,2021-11-29 10:44:04+00:00,buy,21.493860,SUSHI,147.19,EUR,NaN,NaN,1.405,6.848002,2022-01-03 00:00:00+00:00
123,2021-11-29 10:47:17+00:00,buy,1.026156,SOL,186.85,EUR,NaN,NaN,1.620,182.087335,2022-01-03 00:00:00+00:00

In [9]:
combined_df=t.per_day_portfolio_calcs(
    positions_per_day,
    benchmark,
    closedata,
    t.stocks_start 
)
combined_df

Empty DataFrame
Columns: [Adj cost, Adj cost per share, Date Snapshot, Open date, Qty, Symbol, Type, nat_symbol, subtotal, total, total_fee, Symbol Adj Close, Adj cost daily, Benchmark Close, Benchmark End Date Close, Benchmark Start Date Close, symbol End Date Close, symbol Start Date Close, Equiv Benchmark Shares, Benchmark Start Date Cost, Benchmark Return, symbol Return, symbol Share Value, Benchmark Share Value, Stock Gain / (Loss), Benchmark Gain / (Loss), Abs Value Compare, Abs Value Return, Abs. Return Compare]
Index: []

[0 rows x 29 columns]